.event-card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}
    .event-card__preview {
        display: block;
    }
        .event-card__image {
            vertical-align: top;
            width: 100%;
            height: auto;
            aspect-ratio: 4/3;
            background-color: var(--image-fallback);
            transition: filter var(--transition-hover);
        }

        .event-card__preview:hover .event-card__image {
            filter: brightness(105%) contrast(105%);
        }

    .event-card__tag {
        position: absolute;
        left: 12px;
        top: 12px;
        padding: 6px 12px;
        background-color: #FFFFFF;
        border-radius: 2px;
        font-size: 14px;
        line-height: 18px;
        color: #2D2D2D;
    }

    .event-card__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 24px;
        background-color: #FFFFFF;
    }
        .event-card__dates {
            font-size: 16px;
            line-height: 19px;
            color: #4D4D4D;
        }

        .event-card__heading {
            font-family: var(--font-heading);
            font-size: 22px;
            line-height: 26px;
            color: #000000;
        }
            .event-card__link {
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                color: inherit;
            }

            .event-card__link:hover {
                color: var(--link-hover);
            }

        .event-card__description {
            font-size: 16px;
            line-height: 19px;
            color: #4D4D4D;
        }

        .event-card__footer {
            margin-top: auto;
            padding-top: 16px;
            display: flex;
            align-items: center;
            gap: 16px;
        }
            .event-card__location {
                margin-left: -24px;
            }

            .event-card__action {
                margin-left: auto;
            }
                .event-card__action .btn {
                    font-weight: normal;
                    border-radius: 2px;
                    letter-spacing: -0.5px;
                }


@media (max-width: 1199px) {

    .event-card {

    }
        .event-card__preview {

        }
            .event-card__image {

            }

            .event-card__preview:hover .event-card__image {

            }

        .event-card__tag {
            padding: 4px 12px;
            font-size: 12px;
            line-height: 18px;
        }

        .event-card__body {
            padding: 18px 20px;
        }
            .event-card__dates {
                font-size: 14px;
                line-height: 17px;
            }

            .event-card__heading {
                font-size: 20px;
                line-height: 24px;
            }
                .event-card__link {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                .event-card__link:hover {

                }

            .event-card__description {
                font-size: 14px;
                line-height: 17px;
            }

            .event-card__footer {
                padding-top: 12px;
            }
                .event-card__location {
                    margin-left: -20px;
                }
                    .event-card__location .location {
                        padding-left: 20px;
                        font-size: 10px;
                        line-height: 12px;
                    }

                .event-card__action {

                }
                    .event-card__action .btn {
                        /*font-weight: normal;*/
                        /*border-radius: 2px;*/
                        /*letter-spacing: -0.5px;*/
                    }
}

