.listing {
    padding-top: 80px;
    padding-bottom: 86px;
}
    .listing__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Prata", serif;
        font-weight: normal;
        font-size: 52px;
        line-height: 62px;
        text-align: center;
    }

    .listing__filters {
        margin-top: 55px;
    }
        .listing__notifications {

        }

        .listing__filter-item {
            margin-top: 24px;
        }

        .listing__reset-filters {
            margin-top: -37px;
            display: flex;
            align-items: center;
            gap: 8px;
            width: fit-content;
            padding: 8px 12px;
            margin-left: auto;
            margin-right: -12px;
            background-color: transparent;
            border-radius: 4px;
            border: none;
            font-family: inherit;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: inherit;
            color: #919191;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .listing__reset-filters:hover {
            background-color: rgb(255 255 255 / 60%);
        }

            .listing__funnel {
                vertical-align: top;
                fill: currentColor;
            }

    .listing__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 21px;
    }

    .listing__more {
        margin-top: 47px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }



@media (min-width: 992px) and (max-width: 1199px) {

    .listing__body {
        gap: 20px 12px;
    }
}



@media (max-width: 991px) {

    .listing {

    }
        .listing__heading {

        }

        .listing__filters {

        }
            .listing__reset-filters {
                margin-top: 8px;
                padding-top: 12px;
                padding-bottom: 12px;
                margin-left: auto;
                margin-right: auto;
            }

        .listing__body {
            margin-top: 30px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .listing__more {

        }
}



@media (max-width: 767px) {

    .listing {
        /*padding-top: 80px;*/
        /*padding-bottom: 80px;*/
    }
        .listing__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-family: "Prata", serif;*/
            /*font-weight: normal;*/
            /*font-size: 52px;*/
            /*line-height: 62px;*/
            /*text-align: center;*/
        }

        .listing__filters {
            /*margin-top: 40px;*/
            /*height: 100px;*/
            /*background-color: purple;*/
        }
            .listing__filter-item {
                margin-top: 16px;
            }

        .listing__body {
            /*margin-top: 40px;*/
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 16px;
        }

        .listing__more {
            /*margin-top: 40px;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*width: fit-content;*/
        }
}



