.location {
    position: relative;
    padding-left: 24px;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}
    .location__name {

    }

    .location__address {
        margin-top: 2px;
    }

    .location::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
    }


    .location--red-mark::before {
        background-color: #FF4D37;
    }

    .location--green-mark::before {
        background-color: #4ED953;
    }

    .location--purple-mark::before {
        background-color: #C443B9;
    }



@media (max-width: 1199px) {

    .location {

    }
        .location__name {

        }

        .location__address {

        }
}
