.swiper-button-disabled {
    pointer-events: none !important;
}



.swiper--css-default-skin {

}
    .swiper--css-default-skin .swiper-wrapper {

    }
        .swiper--css-default-skin .swiper-slide {

        }

    .swiper--css-default-skin .swiper-controls {
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .swiper--css-default-skin .swiper-pagination {
            position: static;
            width: auto;
            min-width: 50px;
            display: flex;
            justify-content: center;
            gap: 0;
            /* In case of pagination type fraction */
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            text-align: center;
        }
            .swiper--css-default-skin .swiper-pagination-bullet {
                flex-shrink: 0;
                position: relative;
                width: 42px;
                height: 42px;
                margin: 0 !important;
                border-radius: 4px;
                cursor: pointer;
                opacity: 100%;
                background-color: transparent;
                transition: background-color var(--transition-hover);
            }

            .swiper--css-default-skin .swiper-pagination-bullet:hover {
                background-color: #F7F7F7;
            }

                .swiper--css-default-skin .swiper-pagination-bullet::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: #C2C2C2;
                    border-radius: 0;
                    margin: auto;
                }

            .swiper--css-default-skin .swiper-pagination-bullet-active {
                background-color: transparent !important; /* no hover */
                cursor: default;
            }
                .swiper--css-default-skin .swiper-pagination-bullet-active::before {
                    background-color: #2D2D2D;
                }


        .swiper--css-default-skin .swiper-button {
            position: relative;
            inset: auto;
            margin: 0;
            width: 42px;
            height: 42px;
            border-radius: 4px;
            transition: background-color var(--transition-hover);
        }

        .swiper--css-default-skin .swiper-button:hover {
            background-color: #F7F7F7;
        }

        .swiper--css-default-skin .swiper-button-disable {
            opacity: 50%;
        }
            /* arrow */
            .swiper--css-default-skin .swiper-arrow {
                position: absolute;
                inset: 0;
                margin: auto;
                width: 26px;
                height: 16px;
                fill: #C2C2C2;
                transition: fill var(--transition-hover);
            }

            /* arrow */
            .swiper--css-default-skin .swiper-button:hover .swiper-arrow {
                fill: #2D2D2D;
            }

            /* vendors style */
            .swiper--css-default-skin .swiper-button::after {
                display: none;
            }


@media (min-width: 768px) {

    .swiper--css-default-skin {

    }
        .swiper--css-default-skin .swiper-wrapper {
            display: grid;
            grid-auto-flow: column;
        }
            .swiper--css-default-skin .swiper-slide {
                height: 100%;
            }
}




/* Довольно запарно выключать слайдер на десктопах скриптом.
   Проще перебить пару стилей:
 */
.swiper--css-disable-on-smartphone {

}

@media (width < 740px) {

    .swiper--css-disable-on-smartphone {
        overflow: visible;
    }
        .swiper--css-disable-on-smartphone .swiper-wrapper {
            height: auto !important;
            transform: none !important;
        }
            .swiper--css-disable-on-smartphone .swiper-slide {
                width: auto !important;
                margin: 0 !important;
            }

    .swiper--css-disable-on-smartphone .swiper-controls {
        display: none;
    }
}


/* Довольно запарно выключать слайдер на десктопах скриптом.
   Проще перебить пару стилей:
 */
.swiper--css-disabled-on-desktop {

}

@media (740px <= width) {

    .swiper--css-disabled-on-desktop {
        overflow: visible;
    }
        .swiper--css-disabled-on-desktop .swiper-wrapper {
            height: auto !important;
            transform: none !important;
        }
            .swiper--css-disabled-on-desktop .swiper-slide {
                width: auto !important;
                margin: 0 !important;
            }

    .swiper--css-disabled-on-desktop .swiper-controls {
        display: none;
    }
}
